# .github/workflows/terraform-intune.yml
name: Terraform Intune Deploy

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "**/*.tf"

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        env:
          TF_VAR_tenant_id: ${{ secrets.TENANT_ID }}
          TF_VAR_client_id: ${{ secrets.CLIENT_ID }}
          TF_VAR_client_secret: ${{ secrets.CLIENT_SECRET }}
        run: terraform plan -out plan.tfplan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        env:
          TF_VAR_tenant_id: ${{ secrets.TENANT_ID }}
          TF_VAR_client_id: ${{ secrets.CLIENT_ID }}
          TF_VAR_client_secret: ${{ secrets.CLIENT_SECRET }}
        run: terraform apply -auto-approve plan.tfplan
